@import url("template.css");

/* Page Settings */

/* Setting below will control the whole page */

.page-wrapper {
    font-family: Open Sans;
}

.blog-content-wrapper {
    padding: 280px 20px 10px 100px;
}


/* Blog Section */


/* This is going to be the blog title, name of author and date */

.blog-title {
    text-align: center;
    margin: auto;
}

.blog-title h1 {
    font-size: 3em;
    line-height: 2.7em;
}


.blog-title h3 {
    font-size: 2.2em;
}

.blog-title h4 {
    font-size: 1.5em;
}

.blog-left-nav {
    float: left;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    display: block;
    position: relative;
    text-align: justify;
}

.blog-left-nav h1 {
    font-size: 2.2em;
    padding-bottom: 5px
    padding-top: 0px;
    line-height: 2em;
}

.blog-left-nav p {
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5em;
}
/* Changing color of numbers list */
ol {
    counter-reset: item;
    margin-left: 30px;
}

ol li {
    display: block;
    font-size: 1.4em;
    line-height: 1.5em;
}
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #cb2027;
}

.blog-left-nav img {
    width: 100%;
    height: 550px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blog-left-nav p a {color: blue;}
.blog-left-nav img {
  width: 30%;
  height: 30%;
  padding-left: 38%;
}

/* Will change of color of every li element in ordered list (ol) */

.first-word {
    color: #ff4b35
}

.blog-right-nav {
    float: rblog-left-navight;
    width: 10%;
    display: relative;
    padding-top: 400px;
}


/*  Footer Section */

.footer {
    clear: both;
    background-color: White;
    color: black;
    font-family: Open Sans;
    font-size: 0.8em;
    float: bottom;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}


/* Using for Embedded Coding Syntax  */
pre {
    text-align: left;
    margin-left: auto;
    padding-left: 0px;
    margin-bottom: 20px;
}

/*   */


/*   */


/*   */


/*   */


/*   */


/*   */


/*   */